---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="px-8 md:px-16 lg:px-48 py-16 md:py-32 lg:py-64">
    <p class="text-[#212529]">Hi, my name is</p>
    <h1 class="text-5xl">Jacob Doiron</h1>
    <p class="my-4">
      I am currently employed by <a
        href="https://dzone.com"
        target="_blank"
        rel="noopener noreferrer">DZone</a
      > as a <span class="text-[#5fc3c5]">Senior Software Engineer</span> and I enjoy
      building systems.
    </p>
  </section>
</Layout>
