<footer class="text-center py-5 bg-[#132035]">
  <p class="text-[#98acc7]">
    Designed and built with love using
    <a
      class="hover:text-[#f4f6f6]"
      href="https://astro.build/"
      target="_blank"
      rel="noopener noreferrer">Astro</a
    >.
  </p>
</footer>
