<footer
  class="flex justify-center items-center py-5 bg-[#132035] dark:bg-black dark:border-t dark:border-gray-500 text-light-blue dark:text-gray"
>
  <div class="w-full px-8 md:px-16 lg:p-0 lg:w-200">
    <p class="m-0 text-center">
      Designed and built with love using
      <a
        class="text-turqoise dark:text-purple hover:text-white dark:hover:text-white"
        href="https://astro.build/"
        target="_blank"
        rel="noopener noreferrer">Astro</a
      >.
    </p>
  </div>
</footer>
