<footer class="flex justify-center items-center py-5 bg-[#132035]">
  <div class="w-full px-8 md:px-16 lg:p-0 lg:w-200">
    <p class="m-0 text-center text-light-blue">
      Designed and built with love using
      <a
        class="hover:text-primary"
        href="https://astro.build/"
        target="_blank"
        rel="noopener noreferrer">Astro</a
      >.
    </p>
  </div>
</footer>
