<nav class="flex flex-nowrap items-center justify-start px-2 py-4">
  <ul class="flex flex-row ml-auto">
    <li class="px-2">
      <a class="px-2 py-4" href="#about">About</a>
    </li>
    <li class="px-2">
      <a class="px-2 py-4" href="#experience">Experience</a>
    </li>
    <li class="px-2">
      <a class="px-2 py-4" href="#contact">Contact</a>
    </li>
    <li class="px-2">
      <a
        class="px-2 py-4"
        href="https://github.com/jdoiron94"
        target="_blank"
        rel="noopener noreferrer">Projects</a
      >
    </li>
    <li class="px-2">
      <a
        class="px-2 py-4"
        href="Jacob Doiron - Senior Software Engineer 2025 Resume.pdf">Resume</a
      >
    </li>
  </ul>
</nav>
