<nav
  class="flex flex-nowrap items-center justify-start px-2 py-4 bg-blue dark:bg-black text-turqoise dark:text-purple"
>
  <ul class="flex flex-row ml-auto list-none">
    <li class="px-2">
      <a
        class="px-2 py-4 hover:text-white"
        href="https://github.com/jdoiron94"
        target="_blank"
        rel="noopener noreferrer">Projects</a
      >
    </li>
    <li class="px-2">
      <a
        class="px-2 py-4 hover:text-white"
        href="Jacob Doiron - Senior Software Engineer 2025 Resume.pdf">Resume</a
      >
    </li>
  </ul>
</nav>
